apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: hello-auto
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-system
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        name: bachhoang
        email: bach.hoangphanthanh@emtek.vn
      messageTemplate: |
        update image {{ .AutomationObject }}
    push:
      branch: main
  update:
    path: ./deployments
    strategy: Setters

